<h2>New Mentor</h2>
<br><br>
<%= form_for(@mentor) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>    <%= f.text_field :name %>
  </p>
  <br><br>
  <p>
    <%= f.label :email %>   <%= f.text_field :email %>
  </p>
  <br><br>
  <p>
    <%= f.label :affiliation %>  <%= f.text_field :affiliation %>
  </p>
  <br><br>
  <%= f.submit %>
<% end %>

