<%= link_to "New Mentor", new_mentor_path %>
<%= link_to "New Mentor", new_mentor_path %>
<br>
<br>
<h2>Mentors</h2>
<br>
<ul>
  <br>
  <% @mentors.each do |mentor| %>
    <li><%= link_to mentor.name, mentor %> |
      Email: <%= mentor.email %>
      <% if mentor.affiliation != "" %>
        | Affiliation: <%= mentor.affiliation %>
      <% end %>
    </li>
    <br>
  <% end %>
</ul>

