<h2>Add Mentorship Associations</h2>

<%= form_for(@mentorship) do |f| %>
  <p>
    <%= f.label :mentor, "Mentor" %>
    <% mentors = @mentors.map {|mentor| [mentor.name, mentor.id] }%>
    <%= f.select(:mentor_id, options_for_select(mentors)) %> <br>
  </p>

  <p>
    <%= f.label :started, "Started at: " %>
    <%= f.date_select :started %>
  </p>
  <p>
    <%= f.label :kind, "Kind of mentorship: " %>
    <%= f.text_field :kind %>
  </p>

  <p>
    <%= f.label :mentee, "Mentee" %>
    <% mentees = @mentees.map {|mentee| [mentee.name, mentee.id] }%>
    <%= f.select(:mentee_id, options_for_select(mentees)) %> <br>
  </p>

  <%= f.submit "Submit" %>

<% end -%>


